

   .videoCard {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .videoCard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .videoCard__thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .videoCard__info {
    display: flex;
    padding: 10px;
  }
  
  .videoCard__text {
    margin-left: 10px;
  }
  
  .videoCard__text h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0;
    color: #000;
  }
  
  .videoCard__text p {
    font-size: 14px;
    color: #606060;
    margin-top: 3px;
  }
  